body {
    background-color: #eeeeee;
    margin: 0;
    font-family: Helvetica, Verdana, sans-serif;
}

#head {
    background-color: #f6f6f6;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}